[submodule "Order"]
	path = Order
	url = https://github.com/Rodr1gocosta/Order.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/Rodr1gocosta/Gateway.git
[submodule "frontend-prestacaodeservico"]
	path = frontend-prestacaodeservico
	url = https://github.com/Rodr1gocosta/frontend-prestacaodeservico.git
